.gestio{
    
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.SPAN{
    color: #0073ff;
}

.cont-bienvenido{
    
    border-top: 1px solid #ffffff85;
    
    border-bottom: 1px solid #ffffff8f;
    width: 96%;
    
    
  
}
.btn-info2{
    
        background-color: transparent;
        margin: 0px 10px 7px 15px;
        cursor: pointer;
        position: relative;
        top: 5px;
      
}
.bienvenido{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 15px;
    
    
}
/* nav */
.contenedor-panel{
    
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-accesos{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 1200px;
}
.cont-accesos-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    
}
.cont-nav-panel{
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin: 30px;
}
.cont-nav-panel:hover{
    cursor: pointer;
    color: #00bfff;
    border: transparent;
    transition: all .6s;
    background-color: #00bfff;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    color:black;
    padding: 10px 25px;
    
    
    
}
.cont-accesos-2{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items:center;
}

.contenedor-panel-titulo{
    width: 98%;
    height: 16%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    background-color: rgba(0, 0, 0, 0.274);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
    margin-top: -20px;
    margin-bottom: 60px;
}
.contenedor-panel-titulo h1, .contenedor-panel-titulo .img-logout{
    margin: 30px;
}
.far{
    font-size: 2em;
}

.vantana{
    position: fixed;
    bottom: 120px;
    right: 70px;

}

.img-user{
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    
    width: 3em;
    height: 3em;
    margin: 30px;
}

.img-logout{
    width: 3em;
    height: 3em;
    color: #fff;

}
.login{
    color: #fff;
}


.img-logout:hover{
    cursor: pointer;
}


 .h4-logout{
    color: #fff;
    position: relative;
    top: -50px;
    left: -100px;
} 

.contenedor-panel{
    
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel-controles{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
}


.panel-controles-item-turn{
    width: 22%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.431);
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0px 0px 6px rgb(255, 0, 242);
}
.turn-pendiente{
    background-color: rgba(19, 65, 139, 0.431);
}
.turn-vencido{
    background-color: rgba(255, 0, 0, 0.315);
}
.panel-controles-item-order{
    width: 22%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.431);
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0px 0px 6px rgb(106, 199, 0);
}
.cont-orders{
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.productos, .stock{
    width: 90%;
    height: 70px;
    background-color: rgba(23, 195, 23, 0.65);
    box-shadow: 0px 0px 6px rgb(255, 255, 255);
    border-radius: 6px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.productos h4, .stock h4{
    text-align: center;
    align-items:center;
    
    justify-content: center;
}
.productos h2, .stock h2{
    margin-top: 10px;
}
.panel-controles-item-task{
    width: 22%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.431);
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0px 0px 6px rgb(0, 47, 255);
}
.panel-controles-item-provider{
    width: 22%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.431);
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0px 0px 6px rgb(255, 0, 0);
}
.cont-h4{
    width: 90%;
    height: 12%;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.274);
    box-shadow: 0px 0px 6px rgb(255, 255, 255);
    border-radius: 5px;
}



.cont-acciones{
    width: 90%;
    height: 12%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* 5 */

.btn-link {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1;
    
    padding: 0.7em 1.5em;
    text-decoration: none;
    text-align: center;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  .btn-link:hover, .btn-link:focus {
    color: #fff;
    outline: 0;
  }
.btn-link {
    border-color: #ffffffaf;
    color: #fff;
    box-shadow: 0 0 30px 30px #ffffff28 inset, 0 0 0 0 #ffffff81;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .btn-link:hover {
    box-shadow: 2px 0 10px 2px #ffffff inset, 0 0 3px 2px #ffffff;
  }

  .cont-completadas{
    width: 90%;
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .completas{
      border: green solid 1px;
      box-shadow: 0px 0px 6px rgba(0, 255, 0, 0.363);
    width: 45%;
    height: 90px;
    border-radius: 16px;
    display: flex;

    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .pendiente{
        border: red solid 1px;
        box-shadow: 0px 0px 6px rgba(255, 0, 0, 0.5);
        width: 45%;
        height: 90px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
  }